doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/login.css")
        title Login
    body
        main
            #alert-box
                p#alert-msg alert
                button#close-button Dismiss
            .login-container
                .login-form
                     h2 Login to your account!
                     form(action="/Auth/check", method="post")
                        .input-group
                            label(for="email") Email
                            input(type="text", id="email", name="email", placeholder="Enter your email")
                        .input-group
                            label(for="password") Password
                            input(type="password", id="password", name="password", placeholder="Enter your password")
                        button(type="submit") Login
                        .signup-link
                            p Don't have an account?
                            a(href="/register") Sign up
                .welcome-message
                     h2 Welcome to Events!
                     p A place where you can share your memories and interact with your loved ones in an easy and pleasant way!
        script(src="/scripts/login.js") 