doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/register.css")
        title Register
    body
        main
            #alert-box
                p#alert-msg alert
                button#close-button Dismiss
            .register-container
                .welcome-message
                    h2 Welcome to Events!
                    p A place where you can share your memories and interact with your loved ones in an easy and pleasant way!
                .register-form
                    h2 Register now!
                    form(action="/Auth/create", method="post")
                        .input-row 
                            .input-group
                                label(for="name") Name
                                input(type="text", id="name", name="name", placeholder="Enter your full name")
                            .input-group
                                label(for="image") Image
                                input(type="text", id="image", name="image", placeholder="Enter image URL")
                        .input-row
                            .input-group
                                label(for="email") Email
                                input(type="text", id="email", name="email", placeholder="Enter your email")
                            .input-group
                                label(for="password") Password
                                input(type="password", id="password", name="password", placeholder="Create password")
                        button(type="submit") Register
                        .login-link
                            p Already have an account? 
                            a(href="/login") Log in

        script(src="/scripts/register.js") 